@model Thandizo.DataModels.Patients.Responses.PatientResponse
<div class="row heading-bg  bg-thandizo-green">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-light">Confirm Patient</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Home">Dashboard</a></li>
            <li><a href="#"><span>Patients</span></a></li>
            <li><a asp-action="Index"><span>Confirm Patients</span></a></li>
            <li><a class="active"><span>Confirm Patient</span></a></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<!-- /Title -->
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Confirm Patient</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <form asp-action="ConfirmPatient" class="form-horizontal">
                    <input type="hidden" asp-for="PatientId" />
                    <div class="panel-body">
                        <div class="alert alert-warning">
                            <span class="fa fa-exclamation"></span>
                            <span class="bold-text-500">Alert: </span>Are you sure you want to confirm this record?
                        </div>
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label class="bold-text-500">Name</label>
                            </div><div class="col-md-10">
                                @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.OtherNames) @Html.DisplayFor(model => model.LastName)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label class="bold-text-500">Status</label>
                            </div><div class="col-md-10">
                                @Html.DisplayFor(model => model.PatientStatusName)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label class="bold-text-500">Gender</label>
                            </div><div class="col-md-10">
                                @Html.DisplayFor(model => model.Gender)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label class="bold-text-500">Phone Number</label>
                            </div><div class="col-md-10">
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label class="bold-text-500">Residing District</label>
                            </div><div class="col-md-10">
                                @Html.DisplayFor(model => model.DistrictName)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label class="bold-text-500">Email Address</label>
                            </div><div class="col-md-10">
                                @Html.DisplayFor(model => model.EmailAddress)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                @Html.LabelFor(model => model.HomeAddress, new { @class = "bold-text-500" })
                            </div><div class="col-md-10">
                                @Html.DisplayFor(model => model.HomeAddress)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 text-right">
                                @Html.LabelFor(model => model.PhysicalAddress, new { @class = "bold-text-500" })
                            </div><div class="col-md-10">
                                @Html.DisplayFor(model => model.PhysicalAddress)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                @Html.LabelFor(model => model.NationalityCode, new { @class = "bold-text-500" })
                            </div><div class="col-md-10">
                                @Html.DisplayFor(model => model.NationalityName)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">
                                <label class="bold-text-500">Source</label>
                            </div><div class="col-md-10">
                                @Html.DisplayFor(model => model.SourceName)
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer panel-default">
                        <div class="text-right">
                            <div class="btn-group" role="group" aria-label="...">
                                <button class="btn btn-primary btn-sm" type="submit">
                                    <i class="icon-floppy-disk"></i><span>Confirm</span>
                                </button>
                                <button class="btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("Index", "Patients")'">
                                    <i class="icon-cross"></i><span>Cancel</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
