@model IEnumerable<Thandizo.DataModels.Patients.TransmissionClassificationDTO>

<div class="row heading-bg  bg-th-grey">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Transmission Classifications</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Home">Dashboard</a></li>
            <li><a href="#"><span>Static Maintenance</span></a></li>
            <li><a class="active"><span>Transmission Classifications</span></a></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<!-- /Title -->
<div class="row">

    <div class="col-md-5 text-right col-lg-offset-7">
        <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-primary btn-sm" type="button" onclick="location.href='@Url.Action("Create", "TransmissionClassifications")'">
                <i class="fa fa-plus"></i><span class="with-icon">Create  New</span>
            </button>
            <button class="btn btn-default btn-sm" onclick="location.href='@Url.Action("Index", "TransmissionClassifications")'">
                <i class="fa fa-refresh"></i><span class="with-icon">Refresh</span>
            </button>
        </div>
    </div>
</div>
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    @{
                        Html.RenderPartial("../Shared/_MessageOutput");
                    }
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="dtDataTable" class="table table-hover display  pb-30 dt-dataTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model is null)
                                    {
                                        <tr>
                                            <td colspan="5">
                                                <div class="text-center">No Data Found</div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.ClassificationName)</td>
                                                <td>
                                                    <a asp-action="Details" asp-route-classificationId="@item.ClassificationId">
                                                        <i class="fa fa-search"></i><span class="with-icon">View</span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a asp-action="Edit" asp-route-classificationId="@item.ClassificationId">
                                                        <i class="fa fa-edit"></i><span class="with-icon">Edit</span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a asp-action="Delete" asp-route-classificationId="@item.ClassificationId">
                                                        <i class="fa fa-trash"></i><span class="with-icon">Delete</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
