@model IEnumerable<Thandizo.DataModels.Patients.PatientDTO>

<div class="row heading-bg  bg-th-grey">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Patients Pending Submission</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Home">Dashboard</a></li>
            <li><a class="active"><span>Pending Submission</span></a></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<!-- /Title -->
<div class="row">
    <div class="col-md-5 text-right col-lg-offset-7">
        <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default btn-sm" onclick="location.href='@Url.Action("Index", "PatientDailyStatuses")'">
                <i class="fa fa-arrow-left"></i><span class="with-icon">Back</span>
            </button>
        </div>
    </div>
</div>

<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    @{
                        Html.RenderPartial("../Shared/_MessageOutput");
                    }
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="dtDataTable" class="table table-hover display  pb-30 dt-dataTable">
                                <thead>
                                    <tr>
                                        <th>Patient Name</th>
                                        <th class="table-th-250">Identification Number</th>
                                        <th class="table-th-150"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model is null)
                                    {
                                        <tr>
                                            <td colspan="5">
                                                <div class="text-center">No Data Found</div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.OtherNames) @Html.DisplayFor(modelItem => item.LastName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.IdentificationNumber)</td>
                                                <td>
                                                    <a asp-action="Details" asp-route-PatientId="@item.PatientId">
                                                        <i class="fa fa-history"></i><span class="with-icon">View History</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

